/*Page Rules*/

a:hover {
	color: #e22;
}

body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url(../res/bg.webp) no-repeat center;
	background-size: cover;
}

/*Text*/

.brand {
	min-width: 570px;
}

.brand h1 {
	font-size: 72px;
	line-height: 1.2em;
	width: 550px;
}

.brand p {
	font-size: 20px;
}

.links {
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 400px;
	font-size: 24px;
}

.spacer {
	-webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
	-o-transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
	transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
}

/*About pop-up*/

.about {
	background-color: #111;
	border-radius: 10px;
	margin: 40px 0 0 0;
	min-width: 260px;
	max-width: 640px;
	max-height: 400px;
	height: 50%;
}

.tabs {
	background-color: #222;
	border-radius: 10px 10px 0 0;
	padding: 5px 10px 0 10px;
}

.tabs a {
	background-color: #333;
	color: #eee;
	padding: 0 20px;
	border-radius: 20px 2px 0 0;
	margin: 0 4px;
	-webkit-transition: ease-out 0.3s;
	-o-transition: ease-out 0.3s;
	transition: ease-out 0.3s;
}

.tabs a:hover {
	color: #ddd;
	background-color: #444;
}

.abt {
	padding: 20px;
}

.close {
	background-color: #e22 !important;
	border-radius: 10px 10px 0 0 !important;
}

.chosen {
	background-color: #eee !important;
	color: #222 !important;
	-webkit-box-shadow: 0 0 10px 1px #fff;
	box-shadow: 0 0 10px 1px #fff;
}

.abt h2 {
	font-size: 26px;
}

.abt p {
	font-size: 18px;
}

.tab-content a {
	color: #e22;
	padding-right: 10px;
}

.tab-content a:hover {
	color: #a11;
}
