/*Page Style*/

html {
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
  
    /*Fixed Background*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://redxen.eu/res/bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 300px;
  
    /*Global Variables*/
    --red: #d22;
    --dark-gray: #111;
    --gray: #151515;
    --transparent-gray: #222E;
  
    --quick-transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
    --long-transition: cubic-bezier(0.215, 0.610, 0.355, 1) 1s;
  }
  
  /* Content settings */
  .content {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  /* Banner settings */
  .banner {
    /*Sizing*/
    width: 100%;
    color: #fff;
    overflow: hidden;
    font-size: calc(32px + 0.5vw);
    transition: var(--long-transition);
    
    /*Flexbox content*/
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
  }
  .banner h1 {
    filter: drop-shadow(-5px 6px 3px rgba(0,0,0,.7));
  }
  .banner img {
    width: calc(32px + 10vw);
    filter: drop-shadow(-5px 6px 3px rgba(0,0,0,.7));
    transition: var(--long-transition);
  }
  .banner-title {
    align-self: center;
    /*Flexbox content*/
    justify-content: center;
    align-items: center; 
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Text field settings */
  .text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100px;
    background-color: var(--dark-gray);
    color: #fff;
    align-self: center;
    transition: var(--quick-transition);
  }
  
  .text h2 {
    text-align: center;
    width: 100%;
    margin: 3vw 0;
    font-size: calc(32px + 2vw);
    line-height: 1.4em;
    background-color: var(--gray);
    transition: var(--quick-transition);
    color: var(--red);
  }
  .text-field {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 20px;
    background-color: var(--gray);
    margin: 0 auto;
    flex-direction: row;
    flex: 1;
    font-size: calc(16px + 0.5vw);
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    transition: var(--quick-transition);
  }
  .row {
    width: 50%;
  }
  .text-field h3 { 
    font-size: calc(16px + 1vw);
    margin: 0;
  }
  
  /*Category of descriptions*/
  .category {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: 1.5vw auto;
    overflow: hidden;
    transition: var(--quick-transition);
    color: #fff;
  }
  .category img {
    width: 80%;
    max-width: 900px;
    padding: 5% 5% 5% 5%;
    transition: var(--quick-transition);
  }
  
  /*Left Side settings*/
  .left {
    width: var(--image-size);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 200px;
    transition: var(--quick-transition);
  }
  
  .swap .left {
    order: 1;
    justify-content: flex-start;
  }
  
  /*Right side settings*/
  .right {
    width: calc(100% - var(--image-size));
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
    text-align: left;
    transition: var(--quick-transition);
  }
  .right h3 {
    font-size: 3vw;
    margin: 0;
  }
  .right p {
    font-size: calc(16px + 0.75vw);
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .swap .right {
    order: 0;
    text-align: right;
  }