html {
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Oswald', sans-serif;
    background: rgb(10, 10, 10);
    min-height: 300px;

    /*Global Variables*/
    --desktop-height: 5vh;
    --mobile-height: 3vh;
    --header-transparency: rgba(0, 0, 0, 0.7);
}
.header {
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 20;
    display: flex;
    position: absolute;
    overflow: hidden;
    transition: ease-out 0.5s;
}
.header:hover {
    background-color: var(--header-transparency);
}
.header-title {
    width: 100%;
    line-height: 5vh;
    font-size: auto;
    color: #fff;
    display: flex;
    height: 5vh;
    flex-wrap: nowrap;
    font-size: 3vh;
}
.header, #links-header, #links-header a, #logo-header img {
    height: var(--desktop-height);
    line-height: var(--desktop-height);
}
#logo-header {
    display: none;
    opacity: 0;
}
#logo-header img {
    display: flex;
}
#links-header {
    display: flex;
    flex: 1 1 0;
    justify-content: space-around;
}
#links-header a {
    color: #eee;
    text-align: center;
    margin-right: 1vw;
    margin-left: 1vw;
    text-decoration: none;
    font-size: 2.5vh;
    font-family: 'Dosis', sans-serif;
}
#links-header a:hover {
    color: #a11;
}
.content {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
}
#banner {
    /*Sizing*/
    height: 100vh;
    width: 100%;
    color: #fff;
    overflow: hidden;
    font-size: 4vw;
    transition: ease-in-out 0.7s;
    
    /*Flexbox content*/
    justify-content: center;
    align-items: center; 
    display: flex;

    /*Background settings*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner h1 {
    filter: drop-shadow(-5px 6px 3px rgba(0,0,0,.7));
}
#banner img {
    width: 20vw;
    filter: drop-shadow(-5px 6px 3px rgba(0,0,0,.7));
    transition: ease-in-out 0.7s;
}
#text {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    min-height: 100px;
    background-color: rgba(70, 70, 70, 0.4);
    color: #fff;
    align-self: center;
    transition: ease-in-out 0.5s;
}

#text h2 {
    text-align: center;
    width: 100%;
    margin: 3vw 0;
    font-size: 5vw;
    line-height: 8vw;
    background-color: rgba(10, 10, 10, 0.4);
    transition: ease-in-out 0.5s;
    color: #F33;
}
/*Scrolled beyond header*/

.sticky > #logo-header {
    opacity: 1;
    display: flex;
}
.sticky > #links-header {
    display: flex;
    height: 50px;
    line-height: 50px;
    flex: 1 1 0;
    justify-content: flex-end;
}
.sticky {
    position: fixed;
    background-color: rgba(10, 10, 10, 0.7);
    top: 0;
}
/*Category of descriptions*/
.category {
    margin: 1.5vw 0;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    transition: ease-in 200ms;
    filter: saturate(0%);
    color: #fff;
    box-shadow: 0 4px 8px -2px #000;
}
.category:hover {
    color: #c22;
    box-shadow: 0 10px 8px -2px #000;
}
.category:hover { filter: saturate(100%); }

.category img {
    width: 40%;
    max-width: 900px;
    padding: 5% 5% 5% 5%;
    transition: ease-in-out 0.2s;
}

.text-field {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.4);
    margin: 0 auto;
    flex-direction: row;
    flex: 1;
    font-size: 1.2vw;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    transition: ease-in-out 0.5s;
}
.row {
    width: 45%;
}
.text-field h3 { 
    font-size: 1.2vw;
    margin: 0;
}

/*Left Side settings*/
.left {
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    transition: ease-in-out 0.2s;
}

.swap .left {
    order: 1;
}
/*Right side settings*/
.right {
    background-color: rgba(10, 10, 10, 0.4);
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: center;
    text-align: right;
    transition: ease-in-out 0.2s;
}
.right h3 {
    font-size: 3vw;
    margin: 0;
}
.right p {
    font-size: 1.5vw;
    font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif;
}
.swap .right {
    order: 0;
    text-align: left;
}

/*Webpage footer*/
#footer {
    color: #fff;
    display: flex;
    width: 95%;
    height: auto;
    font-size: 1.5vw;
    text-align: center;
    align-items: center;
    overflow: hidden;
    margin: 1 auto;
    align-content: space-around;
    padding: 2%;
}
#footer a {
    color: #f22;
    text-decoration: none;
    padding: 0 0.5vw;
    font-size: 1.5vw;
}
#footer-r, #footer-r a {
    font-size: 1.5vw;
    padding: 0;
    font-style: italic;
}

/*Adaptive content using media queries*/
@media screen and (max-width: 720px) {
    .header {
        position: fixed;
        background-color: rgba(10, 10, 10, 0.4);
    }
    .header:hover {
        background-color: var(--header-transparency);
    }
    .header-title {
        opacity: 0;
        display: none; 
    }
    .header, #links-header, #links-header a, #logo-header img {
        height: var(--mobile-height);
        line-height: var(--mobile-height);
    }
    #banner {
        font-size: 4vw;
        height: 300px;
    }
    #links-header a {
        font-size: 1vh;
    }
    #banner img {
        width: 20vw;
    }
    .category {
        flex-wrap: wrap;
        margin: 2vw 0;
    }
    .category img {
        width: 30%;
        margin: 0 auto;
    }
    .left, .right {
        width: 100%;
    }
    .swap .left {
        order: 0;
    }
    .left {
        min-width: 200px;
    }
    .swap .right {
        order: 1;
    }
    .right {
        padding: 10px 25px 10px 25px;
        text-align: center;
    }
    .right h3 {
        font-size: 6vw;
    }
    .right p {
        font-size: 3vw;
        margin: 0;
    }
    .row { 
        width: 100%;
        margin: 10px 0;
    }
    .text-field {
        font-size: 3vw;
        padding: 10px;
        justify-content: space-between;
    }
    .text-field h3 {
        font-size: 4vw;
    }
    #footer {
        width: 90%;
        font-size: 4vw;
        height: auto;
        flex-flow: wrap;
    }
    #footer a {
        font-size: 4vw;
        padding: 0 7px 0 7px;
    }
    #footer-r, #footer-r a {
        font-size: 2vw;
        padding: 0;
    }
    #footer-r {
        padding: 0 0 10px 0;
    }
}
@media screen and (max-width: 1280px) {
    #text {
        width: 100%;
    }
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
    background: rgba(255 ,255 ,255, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255 ,255 ,255, 0.5);
}