html {
    margin: 0;
    top: 0;
    left: 0;
    font-family: 'Oswald', sans-serif;
    background: rgb(10, 10, 10);
    min-height: 300px;
}
.header {
    height: 50px;
    width: 100%;
    left: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 20;
    display: flex;
    position: absolute;
    overflow: hidden;
    transition: ease-out 1s;
}
.header-title {
    width: 100%;
    line-height: 50px;
    font-size: 25px;
    color: #fff;
    display: flex;
    height: 50px;
    flex-wrap: nowrap;
}
#logo-header {
    display: none;
    opacity: 0;
}
.sticky > #logo-header {
    opacity: 1;
    display: flex;
}
.sticky {
    position: fixed;
    background-color: rgba(10, 10, 10, 0.7);
    top: 0;
}
#logo-header img {
    display: flex;
    height: 40px;
    padding: 5px;
}
#links-header {
    display: flex;
    height: 50px;
    line-height: 50px;
    flex: 1 1 0;
    justify-content: flex-end;
}
#links-header a {
    line-height: 50px;
    color: #eee;
    text-align: center;
    padding-right: 10px;
    padding-left: 10px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Dosis', sans-serif;
}
.header a:hover {
    background-color: rgba(255 ,255 ,255, 0.5);
    color: #a11;
}
.content {
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    display: flex;
    position: absolute;
    flex-wrap: wrap;
    flex-direction: column;
}
#banner {
    /*Sizing*/
    height: 400px;
    width: 100%;
    color: #fff;
    overflow: hidden;
    font-size: 40px;
    transition: ease-in-out 0.7s;
    
    /*Flexbox content*/
    justify-content: center;
    align-items: center; 
    display: flex;

    /*Background settings*/
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(bg.jpg);
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}
#banner img {
    width: 220px;
    filter: drop-shadow(-5px 6px 3px rgba(0,0,0,.7));
    transition: ease-in-out 0.7s;
}
#text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1700px;
    min-height: 100px;
    background-color: rgba(70, 70, 70, 0.4);
    color: #fff;
    align-self: center;
}

#text h2 {
    text-align: center;
    width: 100%;
    font-size: 60px;
    line-height: 100px;
    background-color: rgba(10, 10, 10, 0.4);
    transition: ease-in-out 0.5s;
}
  

/*Category of descriptions*/
.category {
    padding: 70px 0 0 0;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
    transition: ease-in 200ms;
    filter: saturate(0%);
    color: #fff;
    box-shadow: 0 4px 8px -2px #000;
}
.category:hover {
    color: #c22;
    box-shadow: 0 10px 8px -2px #000;
}
.category:hover { filter: saturate(100%); }

.category img {
    width: 40%;
    max-width: 900px;
    padding: 5% 5% 5% 5%;
    transition: ease-in-out 0.2s;
}
h2 { color: #F33;}

#news {margin-bottom: 20px;}

.text-field {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 20px;
    background-color: rgba(10, 10, 10, 0.4);
    max-width: 1200px;
    margin: 1 auto;
    flex-direction: row;
    flex: 1;
    font-size: 20px;
    flex-wrap: wrap;
    align-items: flex-start;
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
.row {
    width: 50%;
}
.text-field h3 { 
    font-size: 25px;
    margin: 0;
}

/*Left Side settings*/
.left {
    background-color: rgba(0, 0, 0, 0.5);
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    transition: ease-in-out 0.2s;
}

/*Right side settings*/
.right {
    background-color: rgba(10, 10, 10, 0.4);
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 50px 50px 50px 30px;
    justify-content: center;
    transition: ease-in-out 0.2s;
}
.right h3 {
    font-size: 40px;
    margin: 0;
}
.right p {
    font-style: italic;
    font-family: 'Open Sans Condensed', sans-serif;
}

/*Webpage footer*/
#footer {
    color: #fff;
    display: flex;
    max-width: 1700px;
    width: 80%;
    font-size: 20px;
    height: 200px;
    text-align: center;
    align-items: center;
    overflow: hidden;
    margin: 1 auto;
}
#footer a {
    color: #f22;
    text-decoration: none;
    padding: 0 10px 0 10px;
    font-size: 30px;
}
#footer-r, #footer-r a {
    font-size: 20px;
    padding: 0;
    font-style: italic;
}

/*Adaptive content using media queries*/

@media screen and (max-width: 730px) {
    .header {
        position: fixed;
        background-color: rgba(10, 10, 10, 0.4);
    }
    #banner {
        font-size: 20px;
        height: 300px;
    }
    #text h2 {
        font-size: 30px;
        line-height: 50px;
    }
    #banner img {
        width: 110px;
    }
    .category {
        flex-wrap: wrap;
        padding: 30px 0 0 0;
    }
    .category img {
        width: 30%;
    }
    .left, .right {
        width: 100%;
    }
    .right {
        padding: 10px 25px 10px 25px;
    }
    .right h3 {
        font-size: 30px;
    }
    .right p {
        font-size: 15px;
        margin: 0;
    }
    .row { 
        width: 100%;
        margin: 10px 0;
    }
    .text-field {
        font-size: 15px;
        padding: 10px;
        justify-content: space-between;
    }
    .text-field h3 {
        font-size: 20px;
    }
    #footer {
        width: 90%;
        font-size: 15px;
        height: auto;
        flex-flow: wrap;
    }
    #footer a {
        font-size: 25px;
        padding: 0 7px 0 7px;
    }
    #footer-r, #footer-r a {
        font-size: 15px;
        padding: 0;
    }
    #footer-r {
        padding: 0 0 10px 0;
    }
}

/*Scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
}
::-webkit-scrollbar-thumb {
    background: rgba(255 ,255 ,255, 0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(255 ,255 ,255, 0.5);
}